@page "/"
@using Nerpson.Components
@using Nerpson.Models
@using Nerpson.Services
@inject LinkService LinkService

<PageTitle>Home</PageTitle>

<h2>Links</h2>
<LinksCollection Links=@LinkService.Links />