// Dimensions

$space: 20px;

// Colors

$bgColor: #111;
$mainTextColor: #fff;
$panelColor: #222;
$mainColor: #0ef;
$secondaryColor: #04f;
$gradient: linear-gradient(to right, $secondaryColor, $mainColor);
