@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="links-collection">
	@foreach (var link in Links)
	{
		<div class="link" @onclick="() => OpenLinkInNewTab(link.Url)">
			<span class="title">@link.Title</span>
			<span class="description">@link.Description</span>
			<div class="bg-icon">
				<i class=@link.FontAwesomeIconClass></i>
			</div>
		</div>
	}
</div>
