@import "../styles/variables.scss";

.links-collection {
    display: flex;
    flex-direction: column;
    gap: $space;

    .link {
        position: relative;
        padding: $space 4*$space $space $space;
        background-color: $linkBoxColor;
        border-left: solid 2.5px $secondaryColor;
        box-shadow: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: $linkBoxColorHover;
            box-shadow: 0 0 40px -20px black;
            border-left: solid 2.5px $mainColor;
        }

        span.title {
            display: block;
            font-size: 1.25rem;
        }

        span.description {
            font-size: 0.75rem;
            text-align: justify;
            color: $secondaryTextColor;
        }

        .bg-icon {
            position: absolute;
            inset: $space $space $space auto;
            font-size: 40px;
            color: rgba(white, 0.5);
        }
    }
}
