@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="links-collection">
	@foreach (var link in Links)
	{
		<div class="link" @onclick="() => OpenLinkInNewTab(link.Url)">
			<h3>@link.Title</h3>
			<span>@link.Description</span>
		</div>
	}
</div>

@code {
	private async Task OpenLinkInNewTab(string url)
	{
		await JSRuntime.InvokeAsync<object>("open", url, "_blank");
	}
}
