@import '../Styles/variables';

.streaming-platforms-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .streaming-platform {
        font-size: 2rem;

        &::before {
            display: none;
        }

        i.fa-brands.fa-tidal {
            transform: translateY(5px);
            width: 1em;
            height: 1em;
            background: $gradient;
            mask: url('../images/tidal.svg') 0 0/100% 100%;
            transition: filter 0.2s ease;
            filter: grayscale(1) brightness(100);

            &:hover {
                filter: grayscale(0) brightness();
            }
        }
    }
}

@media (max-width: 768px) {
    .streaming-platforms-collection .streaming-platform {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .streaming-platforms-collection .streaming-platform {
        font-size: 1.2rem;
    }
}